@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, <span style="text-decoration:line-through">world</span> Accessible Contrast Checker Component</h1>
<hr style="color:black; height:2px;"/>
<br />
<ContrastChecker />